#title {
    margin-top: 100px;
    margin-bottom: 2%;
    text-align: center;
}

table {
    width: 80%;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 30px auto;
}

tr {
    border: 1px solid rgb(239, 236, 236);
}

td {
    padding: 1%;
}

thead>tr {
    background-color: #544dcf
}

th {
    padding: 1%;
    color: white;
}

#not_available_box {
    margin-bottom: 250px;
    text-align: center;
    color: grey;
}

#filter_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

#filter_box div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#filter_box div p {
    margin: 3px;
    font-weight: bold;
}

#filter_box div select {
    border: 1px solid grey;
    padding: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0 10px;
} 

#filter_box button{
    padding: 6px 20px;
    background-color: #544dcf;
    border: none;
}

#filter_box button a{
    text-decoration: none;
    color: #fff;
}

#filter_box button:hover{
    background-color: #221e74;
    scale: 1.1;
}

.btn3{
    padding: 4px 10px;
    border: 0;
}

.accept {
    background-color: aquamarine;
}
.reject{
    background-color: rgb(255, 113, 113);
}

@media (max-width: 550px) {
    table {
        font-size: 14px;
    }

    th,
    td {
        padding: 10px;
        font-size: 12px;
    }

    #title {
        font-size: 20px;
    }


}

@media (max-width: 350px) {
    table {
        font-size: 10px;
    }

    th,
    td {
        padding: 5px;
        font-size: 10px;
    }

    #title {
        font-size: 15px;
    }
}